arules.ipynb
chen.ipynb
generate_dataset.ipynb
ifm_problem copy.ipynb
ifm_problem.ipynb
large_dataset.ipynb
linear_programming.ipynb
maximal copy.ipynb
maximal.ipynb
neg_border.ipynb
pdh01.ipynb
phd02.ipynb
rarity.ipynb
retail.ipynb
scipy_linalg.ipynb
skin.ipynb
support_0.ipynb
support_03.ipynb
linear01.PNG